html, body {
    margin: 0;
    height: 100%;
}

.pageContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f2f5;
    min-height: calc(100vh - 95px); 
}  

.container {
    width: 1000px;
    height: 75vh;
    gap: 20px;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow-y: scroll; 
}
  
.contentDetails {
    padding: 20px; 
    flex-grow: 1; 
    min-height: 100vh; 
    width: 100vw;
}
  
.additionalInfoBlock {
    background-color: #f0f0f0;
    padding: 16px;
    margin-top: 8px;
    border-radius: 8px;
}
  
.additionalInfoBlock h3, .additionalInfoBlock h4 {
    margin-bottom: 10px;
}
  
.additionalInfoBlock ul {
    list-style-type: none;
    padding: 0;
}
  
.additionalInfoBlock ul li {
    margin-bottom: 5px;
}
  
.additionalInfoItem {
    margin-bottom: 16px;
}

.itemList {
    border-bottom: '1px solid #000';
    padding: '10px';
    cursor: 'pointer';
    height: '50px';
    align-items: 'center';
    display: flex;
    flex-direction: column;
    justify-content: 'right';
    grid-auto-rows: auto;
}