html, body {
    margin: 0;
    height: 100%;
}

h1{
    font-weight: bold;
    margin-bottom: 10px;
}

.pageContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f2f5;
    min-height: calc(100vh - 92px); 
}  

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    display: flex;
    background-color: #f5f5f5; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
  }

.contentDetails {
    padding: 20px; 
    flex-grow: 1; 
    width: calc(100vw - 40px); 
    box-sizing: border-box;
  }

.formContainer {
    background-color: #f5f5f5;
    padding: 20px;
    border-top-right-radius: 50px 20px;
    width: 80vw;
    justify-content: 'center';
}
  
.formGroup {
    margin-bottom: 15px;
}

.formLabel {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
    display: block;
}

.formControl {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formButton {
    margin: 0; 
    background-color: #221F1F;
    color: #F4D30B;
    border: transparent;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .formButton:hover {
    background-color: rgb(255, 200, 0);
    color: #221F1F;
  } 

.buttonContainer {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}
