.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 2rem;
    height: 100%;
    width: 100%;
}

.pageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f2f5;
  height: calc(100vh - 92px);
  overflow-y: auto;
  box-sizing: border-box;
} 

.header {
    display: flex;
    width: 95%;
    align-items: center;
    gap: 20px;
    padding: 0px 40px 20px 30px;
    float: right;
    justify-content: space-between;
}

.feedContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 10px);
  width: 100%;
  box-sizing: border-box;
}

.postContainer {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.postContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.postTitle {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.postTopic {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

.postAuthor {
  font-size: 0.9rem;
  color: #888;
  text-align: right;
}

.link {
  text-decoration: none;
}

.searchBar{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-right: 20px;
  float: right;
  width: 75%;
}