.mainButton {
  background-color: #F4D30B;
  color: #221f1f;
  border: transparent;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.mainButton:hover {
  background-color: #F4D30B;
  color: #FFFFFF;
}