.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white; 
}  

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    display: flex;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
  }
  
.banner img {
    width: 100%;
    max-width: 400px; 
    height: auto; 
    object-fit: cover;   
}

.contentDetails {
    padding: 20px; 
    flex-grow: 1; 
    min-height: 100vh; 
    width: 100vw;
  }

.formContainer {
    background-color: white;
    padding: 20px;
    /* border-top-right-radius: 50px 20px; */
    justify-content: 'center';
}
  
.formGroup {
    margin-bottom: 15px;
}

.formLabel {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
    display: block;
}

.formControl {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formButton {
    background-color: #f4d30b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.formButton:hover {
    background-color: #f4d30b;
    opacity: 0.8;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}