.container {
    display: flex;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    flex-direction: row;
    float: left;
    width: 100%;
    padding: 0 1rem;
}

.reviewContainer {
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 8px;
    flex: 2;
    display: flex;
    flex-direction: column; 
}

.titleupdateDeleteContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.updateDeleteContainer{
    display: flex;
    align-items: right;
}

.updateButton {
    margin-left: 10px; 
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
  
.updateButton:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

.deleteButton {
    margin-left: 10px; 
    background-color: transparent;
    color: red;
    border: 2px solid red;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;
}
  
.updateButton:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

  
.deleteButton:hover {
background-color: red;
color: white;
}
