.baseButton {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.75rem;
    width: 100%;
    margin: auto;

    font-size: 1.25rem;
    
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    
    transition: color .25s, font-weight .25s;
}

.tabsContainer {
    display: flex;
    justify-content: space-between;
    /* padding: 0 1rem; */
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.buttonContainer {
    position: relative;
    width: 36%;
    height: 3rem;
    padding: 0 0 0.5rem 0;
    /* border-radius: 10px 10px 0 0; */

    transition: background-color .25s;
}

.buttonContainer:has(> button:disabled) {
    background-color: #f4d30b;
}

.buttonContainer button:disabled {
    color: white;
    font-weight: 600;
}

.line {
    width: 2px;
    height: 3rem;
    margin-top: 0rem;
    background-color: black;
}
