.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    gap: 16px;
  }
  
  .formInputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .formInput {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
  }
  
  .formError {
    color: #DC3545;
    font-size: 0.8rem;
  }
  
