.header {
    display: flex;
    align-items: center;
    gap: 20px; 
    padding: 10px;
    margin-right: 20px;
    float: left;
}

.headerSections{
    background-color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    /* border: 2px solid #221f1f; */
    margin: 1rem 2rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.35), 0px 0 1px rgba(1, 1, 1, 0.2);
}

.headerNav {
    flex: 2;
    display: flex;
    justify-content: right;
    gap: 3rem;
    margin: 5px;
    margin-left: 10px;
    padding-right: 2rem;
}

.headerNav button {
    background: transparent;
    padding: 0;
    font: inherit;
    cursor: pointer; 
    outline: inherit;
    height: 2rem;

    transition: color .25s linear, border-color .25s linear;
}

.profilePicture {
    width: 2.75rem; 
    height: 2.75rem; 
    border-radius: 50%; 
}

.profilePicture +h1 {
    font-size: 2rem;
    margin: 0;
}

.buttonS {
    color: black;
    border: none;
    border-bottom:1px #f4d50b00 solid;
}

.buttonSelected {
    color: #f4d30b;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 1px #f4d30b solid;
    border-left: transparent;
}