/* RegistrationPage/index.module.css */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: auto;
  }
  
  .form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  .form input {
    padding: 5px;
    margin-top: 5px;
  }
  
  .form button {
    padding: 10px;
    background-color: #f4d30b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .form button:hover {
    background-color: #f4d30b;
    opacity: 0.8;
  }
  